@charset "utf-8"; /* 소스보기에서 css파일의 한글이 깨지지 않음*/

/* 스킵 네비게이션 */
#skip { position: relative;}
#skip a { position: absolute; left: 0; top: -35px; border: 1px solid #fff; color: #fff; background: #333; line-height: 30px; text-align: center;}
#skip a:active,
#skip a:focus { top: 0;}

/* 레이아웃 */
#wrap { }
#header { height: 325px; background: url(../img/header_bg.jpg) center top repeat-x;}
#contents {}
#footer { border-top: 1px solid #eee;}

/* 컨테이너 */
.container { width: 990px; margin: 0 auto; height: inherit; /*background: rgba(255,255,255,0.3);*/}

/* 헤더 */
#header .container{ text-align: center;}
#header .header-menu { text-align: right;}
#header .header-menu a { color: #fff; padding: 10px 0 10px 13px; display: inline-block;}
#header .header-menu a:hover { color: #666;}
#header .header-tit { text-align: center; margin-top: 40px;}
#header .header-tit h1{ display: inline; background-color: #4aa8d4; color: #fff; font-size: 28px; padding: 10px 20px 10px 20px; font-weight: normal; text-transform: uppercase;}
#header .header-tit a { display: inline; background-color: #2698cb; font-size: 18px; color: #fff; padding: 5px 20px 6px 20px; margin-top: -5px;}
#header .header-icon { display: inline-block; margin-top: 50px;}
#header .header-icon a { display: inline-block; width: 60px; height: 60px; margin: 0 3px; background: url(../img/icon.png) no-repeat; }
#header .header-icon a.icon1 { background-position: 0 0;}
#header .header-icon a.icon2 { background-position: 0 -60px;}
#header .header-icon a.icon3 { background-position: 0 -120px;}
#header .header-icon a.icon4 { background-position: 0 -180px;}
#header .header-icon a.icon1:hover { background-position: -60px 0;}
#header .header-icon a.icon2:hover { background-position: -60px -60px;}
#header .header-icon a.icon3:hover { background-position: -60px -120px;}
#header .header-icon a.icon4:hover { background-position: -60px -180px;}

/* float : left로 인한 영역깨짐(height:0) 방지법 
1. 깨지는 영역에 똑같이 float: left를 사용한다.(X) --> 모든박스에 float:left 사용하게됨
2. float의 성질을 차단하는 clear: both;를 사용한다(X) --> 어떤 영역이 깨졌는지 찾기 어려움
3. float을 사용한 상위 박스한테 overflow: hidden을 사용합니다. (0) --> 현재는 제일 많이 사용.
4. clearfix를 사용합니다. (0)
*/

/* 컨텐츠 레이아웃 */
#cont_nav { background: #f6fdff; display: none;}
#cont_tit { background: #eaf7fd;}
#cont_ban { background: #dceff7;}
#cont_cont { background: #f6fdff;}

/* 전체 메뉴 */
.nav { overflow: hidden; padding: 30px; }
.nav > div { float: left; width: 40%;}
.nav > div:last-of-type { width: 20%;} /* ie9부터 가능*/
/* .nav>div.last { width: 20%;} ie8일 경우*/
.nav > div h3 { font-size: 18px; color: #25a2d0; margin-bottom: 4px;}
.nav > div ul { overflow: hidden;}
.nav > div ul li { float: left; width: 50%;} 
.nav > div:last-of-type ul li {width: 100%;}
.nav > div ul li a:hover { text-decoration: underline;}

/* 타이틀 */
.tit { position: relative;}
.tit h2 { font-size: 40px; padding: 5px 0; letter-spacing: 2px; text-align: center; color: #2c94c4; font-family: 'Nanum Brush Script', cursive;}
.tit .btn { position: absolute; top: 5px; right: 0; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat 0 -600px;  }
.tit .btn.active { background-position: -60px -660px;}

/* 배너 */
/*
.ban { position: relative; padding: 20px 0;}
.ban > a { position: absolute; top: 60px; width: 43px; height: 43px; border-radius: 50%; background: url(../img/icon.png) no-repeat;}
.ban a.prev { left: -60px; background-position: -150px 0px;}
.ban a.next { right: -60px; background-position: -150px -43px;}
.ban a.prev:hover { background-position: -193px 0;}
.ban a.next:hover { background-position: -193px -43px;}
.ban ul li { float: left; width: 330px; font-size: 0;}  
.ban ul li img { border: 4px solid #dcdcdc;}
.ban ul li img:hover { border-color: #98bcdc;}
.ban ul li.ban-img1 { text-align: left;}
.ban ul li.ban-img2 { text-align: center;}
.ban ul li.ban-img3 { text-align: right;}
*/
.ban { position: relative; padding: 20px 0 40px;}
.ban .slick-arrow { position: absolute; top: 60px; width: 43px; height: 43px; border-radius: 50%; background: url(../img/icon.png) no-repeat; text-indent: -9999px;}
.ban .slick-prev { left: -60px; background-position: -150px 0px;}
.ban .slick-next { right: -60px; background-position: -150px -43px;}
.ban .slick-prev:hover { background-position: -193px 0;}
.ban .slick-next:hover { background-position: -193px -43px;}
.ban img { border: 4px solid #dcdcdc;}
.ban img:hover { border-color: #98bcdc;}
.ban .slick-slide { text-align: center;}
.ban .slick-slide a { display: inline-block;}
.ban .slick-dots { position: absolute; display: block; bottom: 15px; width: 100%; text-align: center;}
.ban .slick-dots li { display: inline-block; width: 15px; height: 15px; margin: 5px;}
.ban .slick-dots li button { font-size: 0; line-height: 0; display: block; width: 15px; height: 15px; cursor: pointer;
background: #5dbfeb; border-radius: 50%;}
.ban .slick-dots li.slick-active button { background: #2b91c8;}
/* last-child, nth-child(2) ie9 부터 적용. 크로스브라우징 ie8에서는 .last방식으로 사용 */

/* 컨텐츠 */
.cont { padding-top: 30px;}
.cont .column { float: left; position: relative; width: 289px; height: 363px; margin: 0 30px 30px 0; padding-right: 30px;}
.cont .col1 { border-right: 1px solid #c8c8c8;}
.cont .col2 { border-right: 1px solid #c8c8c8;}
.cont .col3 { margin-right: 0; padding-right: 0;}
.cont .col4 { border-right: 1px solid #c8c8c8;}
.cont .col5 { border-right: 1px solid #c8c8c8;}
.cont .col6 { margin-right: 0; padding-right: 0;}

.cont .column .ico-img { display: block; position: absolute; left: 0; top: 0; width: 60px; height: 60px; background: url(../img/icon.png) no-repeat;}
.cont .column .ico-tit { padding-left: 70px; font-size: 16px; color: #2c94c4;}
.cont .column .ico-desc { padding-left: 70px; border-bottom: 1px solid #d0d0d0; padding-bottom: 15px; margin-bottom: 15px;}
.cont .col1 .ico-img { background-position: 0px -240px;}
.cont .col2 .ico-img { background-position: 0px -300px;}
.cont .col3 .ico-img { background-position: 0px -360px;}
.cont .col4 .ico-img { background-position: 0px -420px;}
.cont .col5 .ico-img { background-position: 0px -480px;}
.cont .col6 .ico-img { background-position: 0px -540px;}
.cont .col1 .ico-img:hover { background-position: -60px -240px;}
.cont .col2 .ico-img:hover { background-position: -60px -300px;}
.cont .col3 .ico-img:hover { background-position: -60px -360px;}
.cont .col4 .ico-img:hover { background-position: -60px -420px;}
.cont .col5 .ico-img:hover { background-position: -60px -480px;}
.cont .col6 .ico-img:hover { background-position: -60px -540px;}

/* 게시판 */
.notice { position: relative;}
.notice h4 { font-size: 14px; color: #0093bd; padding-bottom: 5px; font-weight: bold; }
.notice ul li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: url(../img/dot.gif) no-repeat 0 9px; padding-left: 8px;} /* 한줄로 */
.notice ul li a { font-size: 12px;}
.notice a.more { position: absolute; right: 0; top: 0px; width: 17px; height: 17px; background: url(../img/icon.png) no-repeat -150px -90px; }

/* 게시판 2 */
.notice2 { position: relative; margin-top: 15px;}
.notice2 h4 { font-size: 14px; color: #0093bd; padding-bottom: 5px; font-weight: bold; }
.notice2 ul {}
.notice2 li { background: url(../img/dot.gif) no-repeat 0 9px; padding-left: 8px;}
.notice2 li a { float: left; font-size: 12px; width: 65%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.notice2 li span { float: right; width: 30%; text-align: right;}
.notice2 a.more { position: absolute; right: 0; top: 0px; width: 17px; height: 17px; background: url(../img/icon.png) no-repeat -150px -90px; }

/* 게시판 3 */
.notice3 { position: relative;}
.notice3 h4 { font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice3 li { position: relative; padding: 8px 0 14px 60px;}
.notice3 li a img { width: 50px; position: absolute; left: 0; top: 0; border: 1px solid #0093bd;}
.notice3 li a strong { display: block;}
.notice3 li a span { display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 12px;}
.notice3 a.more { position: absolute; top: 0; right: 0; width: 17px; height: 17px; background: url(../img/icon.png) no-repeat -150px -90px;}

/* 마우스 hover 효과 1*/
.notice-hover {}
.notice-hover h4 { font-size: 14px; color: #0093bd; padding-bottom: 5px; font-weight: bold;}
.notice-hover li { float: left; width: 93px; margin-right: 5px; text-align: center; }
.notice-hover li:last-child { margin-right: 0;}  /* ie9 부터 last-child 동작*/
/*.notice-hover li.last { margin-right: 0;} 모든 브라우저 적용 버전*/
.notice-hover li a:hover em{ visibility: visible;}
.notice-hover li a span { position: relative; display: block; width: 93px; height: 93px; }
.notice-hover li a span img{ width: 100%;}
.notice-hover li a span em{ visibility: hidden; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.7); color: #fff; width: 100%; height: 100%; line-height: 93px;}
.notice-hover li a strong { display: inline-block; padding-top: 3px; font-size: 12px;}

/* 마우스 hover효과 2*/
.notice-hover2 li { float: left; width: 93px; height: 93px; text-align: center; margin-right: 5px;}
.notice-hover2 li:last-child { margin-right: 0;}
.notice-hover2 li a:hover span em { visibility: visible;}
.notice-hover2 li a span { display: block; position: relative; width: 93px; height: 93px;}
.notice-hover2 li a span img { width: 100%; }
.notice-hover2 li a span em { display: block; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,0.7); width: 100%; height: 25px; line-height: 25px; color: #fff; visibility: hidden;}
.notice-hover2 li a strong { font-size: 12px; display: inline-block; padding-top: 3px;}

/* 콘텐츠 요소를 보이지 않게 하는 방법 
1.display: none -- display: block 영역 사라짐
2.visibility: hidden; -- visibility: visible; 영역 유지
3.opacity: 0; -- opacity: 1;
4.width: 0; height: 0; overflow: hidden;
*/

/* 탭 메뉴 */
.tab-menu { position: relative; border: 1px solid #ccc; padding: 8px; height: 105px;}
.tab-menu ul { border-bottom: 1px solid #ccc; }
.tab-menu ul li{ float: left; border: 1px solid #ccc; margin-right: -1px; margin-bottom: -1px;}
.tab-menu ul li a{ display: block; padding: 5px 10px;}
.tab-menu ul li ul { position: absolute; left: 0; top: 48px; border: 0; width: 270px;}
.tab-menu ul li ul li{ float: none; border: 0; background: url(../img/dot.gif) no-repeat 9px 9px;
    padding-left: 18px;}
.tab-menu ul li ul li a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; padding: 0 0 3px 0; font-size: 14px;}
.tab-menu ul li.active { background: #2c94c4;}
.tab-menu ul li.active>a{ color: #fff;}

/* 탭 메뉴 2 */
.notice4 { border: 1px solid #ccc; position: relative; }
.notice4 h4 { font-size: 15px; font-weight: bold; color: #0093bd; border-bottom: 1px solid #ccc; padding: 8px 10px;}
.notice4 h4 em { color: #cf3292;}
.notice4 ul { padding: 10px;}
.notice4 ul li { background: url(../img/dot.gif) no-repeat 0px 9px; padding-left: 8px;}
.notice4 ul li a { width: 65%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: left; float: left;}
.notice4 ul li span { text-align: right; width: 30%;  float: right;}
.notice4 a.more { position: absolute; top: 9px; right: 9px;}

/* 갤러리*/
.gallery { border: 1px solid #ccc; position: relative; height: 255px;}
.gallery h4 { color: #0093bd; font-size: 14px; font-weight: bold; padding: 10px 0 8px 11px; border-bottom: 1px solid #ccc;}
.gallery .gal-btn { padding: 8px 10px; position: absolute; top: 0; right: 0;}
.gallery .gal-btn ul { float: right; }
.gallery .gal-btn ul li { float: left; padding: 0 2px;}
.gallery .gal-btn ul li a { display: block; background: url(../img/icon.png) no-repeat;  width: 23px; height: 23px;}
.gallery .gal-btn ul li.play a { background-position: -150px -120px;}
.gallery .gal-btn ul li.pause a { background-position: -150px -143px;}
.gallery .gal-btn ul li.prev a { background-position: -150px -166px;}
.gallery .gal-btn ul li.next a { background-position: -150px -189px;}
.gallery .gal-btn ul li.play a:hover { background-position: -173px -120px;}
.gallery .gal-btn ul li.pause a:hover { background-position: -173px -143px;}
.gallery .gal-btn ul li.prev a:hover { background-position: -173px -166px;}
.gallery .gal-btn ul li.next a:hover { background-position: -173px -189px;}
.gallery .gal-img img { width: 100%;}

/* 로그인 */
.login-wrap {background: #f2f4f5; padding: 15px; }
.login-header { font-size: 12px; height: 30px;}
.login-header .lh-check { float: left; padding-right: 15px;}
.login-header .lh-check .input-check{ vertical-align: -2px;}
.login-header .lh-ip { float: left;}
.login-header .lh-ip em{ color: #0093bd; text-decoration: underline;}

.login-content { position: relative;}
.login-content .lc-text {}
.login-content .lc-text .input-text { width: 182px; height: 16px; padding: 2px 5px; border: 1px solid #bebebe; margin-bottom: 3px; background: #fff;}
.login-content .lc-btn { position: absolute; width: 62px; height: 47px; top: 0; right: 0; background: #fff; border: 1px solid #bebebe;}
.login-footer { margin-top: 5px;}
.login-footer li { display: inline;}
.login-footer li a{ font-size: 12px;}

/* 팝업 */
.popup { margin-top: 15px;}
.popup h4 { font-size: 14px; color: #0093bd; padding-bottom: 4px; font-weight: bold;}
.popup li { float: left; width: 93px; height: 93px; margin-right: 5px;}
.popup li.last { margin-right: 0;}
.popup li img{ width: 100%;}

/* 푸터 */
.footer { padding: 25px; text-align: center;}
.footer ul { margin-bottom: 20px;}
.footer li { display: inline-block; padding: 0 7px 0 10px; position: relative;}
.footer li:not(:first-of-type):before { content: ''; width: 1px; height: 12px; background: #ccc; position: absolute; 
  display: block; top: 2px; left: 0;}
/* ie9 부터 먹히는방법 */
.footer .w3c { margin-top: 15px;}

/* 레이어 팝업 */
#layer { display: none; position: fixed; left: 50px; top: 50px; width: 700px; border: 10px solid #dceff7; box-shadow: 3px 3px 10px rgba(0,0,0,0.4);}
#layer img { width: 100%; display: block;}
#layer .close { position: absolute; right: 20px; top: 20px; background: #0093bd; padding: 1px 6px; }
#layer .close:hover { text-decoration: underline;}